body {
	font-family: verdana;
	font-size: 12pt;
	box-sizing: border-box;
}

.pt10 {
	font-size: 10pt;
}

#wrapper {
	margin: auto;
	padding: 5px 10px;
	border: 2px solid #000;
	width: 550px;
	height: auto;
}

.bb10 {
	border-bottom: 10px solid #000;
	padding-bottom: 5px;
}

header > h1 {
	margin: 0 0 10px 0;
	padding-left: 10px;
}

header > h4 {
	margin: 0;
	padding-left: 10px;
}

#wrapper > p {
	font-weight: bold;
	text-align: right;
	padding-right: 60px;
}

table {
	width: 550px;
	height: auto;	
}

/*table * {border: 1px solid #000;}*/

.bold {
	font-weight: bold;
}

.pad1st {
	padding-left: 30px;
}

ul {
	text-align: center;
}

ul li {
	/*display: inline;*/
	font-size: 10pt;
}

ul li:first-child {
	
}